
.display__media-title h2 {
    text-decoration: underline;
}

.display__media{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-top: 0.5rem;
}

.display__media-p {
    color: white;
    padding: 0.5rem;
}

.display__media-img img{
    width: 200px;
    height: 200px;
}

.display__media-title h1 {
    text-align: center;
    color: white;
}